# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Node
node_modules/
dist/
build/

# Java
target/
*.class

# Maven
.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# Environment variables
.env
*.env
application.properties
*application.properties

# OS files
.DS_Store
Thumbs.db